<html>

<head>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css">
<script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
<body>
<script>
    webix.ui({
        view: "window",
        id: "log_window",
        position: "center",
        head: "Авторизация",
        width: 350,
        body: {
            view: "form",
            id: "log_form",
            elements: [
                {view: "text", placeholder: "Логин:", name: "login"},
                {view: "text", type: "password", placeholder: "Пароль", name: "password"},
                {
                    margin: 5, cols: [

                        {view: "button", value: "Войти", css: "webix_primary", click: Auth},
                    ]
                },
            ]
        },
    });

    window.onload = function () {
        $$("log_window").show();
    };

    //авторизация пользователя. Получает данные из формы и отправляет запрос на сервер
    function Auth() {
        let data = $$("log_form").getValues();
        let login = data.login;
        let password = data.password;
        let str = login + ":" + password;
        let base = window.btoa(str);
        document.cookie = "auth=" + base;
        let promise = fetch('/auth');
        promise.then(json => {
            return json.json();
        }).then(result => {
            if (result.Error == "") {
                document.location.href = result.Data;
            } else {
                webix.message(result.Error);
            }
        });
    }
</script>
</body>
</html>

